body {
  background-color: rgb(223, 196, 79);
}
.header {
  position: relative;
  text-align: center;
}
#header-img {
  width: 95%;
  border-radius: 0 0 20px 20px;
}
#title1 {
  position: absolute;
  top: 30%;
  left: 10%;
}
#title2 {
  position: absolute;
  top: 60%;
  left: 15%;
}

.title-text {
  font-weight: 900;
  font-size: 60px;
  color: white;
  font-style: italic;
  font-family: cursive;
  border: black;
  text-shadow: -1px 10px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.form-group {
  width: 90%;
  margin-left: 5%; 
}
#mr-robot {
  width: 95%;
  border-radius: 30px;
}

.user {
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 20px 20px 20px;
  background-color: rgb(187, 223, 223);
  margin-bottom: 20px;
}

.bot {
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px 0 20px 20px;
  background-color: rgb(228, 211, 218);
  margin-bottom: 20px;
}

.rText1 {
  font-family: serif;
}
.rText2 {
  font-family: 'Courier New', Courier, monospace;
}
.rText3 {
  font-family: fantasy;
}
.rText4 {
  font-family: sans-serif;
}
.rText5 {
  font-family: 'Times New Roman', Times, serif;
}
.rStyle1 {
  font-weight: 700;
  font-size: 30px;
  font-style: italic;
}
.rStyle2 {
  font-weight: 900;
  font-style: oblique;
}
.rStyle3 {
  font-weight: 600;
  font-stretch: extra-expanded;
}
.rStyle4 {
  font-weight: 900;
  font-stretch: extra-condensed;
}
.rStyle5 {
  font-weight: 400;
  font-size: 20px;
}
.rColor1 {
  color: red;  
}
.rColor2 {
  color: green;  
}
.rColor3 {
  color: blue;  
}
.rColor4 {
  color: black;  
}
.rColor5 {
  color: rgb(133, 117, 28);
}
