body {
  background-color: rgb(223, 196, 79);
}
.header {
  position: relative;
  text-align: center;
}
#header-img {
  width: 95%;
  border-radius: 0 0 20px 20px;
}
#title1 {
  position: absolute;
  top: 30%;
  left: 10%;
}
#title2 {
  position: absolute;
  top: 60%;
  left: 15%;
}

.title-text {
  font-weight: 900;
  font-size: 60px;
  color: white;
  font-style: italic;
  font-family: cursive;
  border: black;
  text-shadow: -1px 10px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.form-group {
  width: 90%;
  margin-left: 5%; 
}
#mr-robot {
  width: 95%;
  border-radius: 30px;
}

.user {
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 20px 20px 20px;
  background-color: rgb(187, 223, 223);
  margin-bottom: 20px;
}

.bot {
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px 0 20px 20px;
  background-color: rgb(207, 179, 190);
  margin-bottom: 20px;
}

.saying1 {
  font-weight: 700;
  font-size: 30px;
}
.saying2 {
  font-weight: 900;
  font-style: italic;
  color: grey;
  font-family: cursive;
}
.saying3 {
  font-weight: 600;
  font-stretch: extra-condensed;
  color: darkgreen;
  font-family: 'Courier New', Courier, monospace;
}
.saying4 {
  font-weight: 900;
  font-style: italic;
  color: green;
  font-family: serif;
}
.saying5 {
  font-weight: 400;  
  font-stretch: extra-expanded;
  color: black;
  font-family: sans-serif;
}
.saying6 {
  font-weight: 700;
  font-size: 20px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
.saying7 {
  font-weight: 900;
  font-style: italic;
  color: blue;
  font-family: 'Courier New', Courier, monospace;
}
.saying8 {
  font-weight: 600;
  color: green;
  font-family: 'Courier New', Courier, monospace;
}
.saying9 {
  font-weight: 600;
  font-style: oblique;
  color: red;
  font-family: 'Times New Roman', Times, serif;
}